.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.spacebtw {
  justify-content: space-between;
}

.container {
  width: 100vw;
  justify-content: center;
}

.gray {
  color: #ccc;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-4 {
  padding-top: 4rem;
}